<form fd-form-group>
  <div fd-form-set>
    <div fd-form-item>
      <fd-form-label forValue="amount">Amount </fd-form-label>

      <input
        type="text"
        id="amount"
        [(ngModel)]="newReceipt.amount"
        name="amount"
      />
    </div>
    <div fd-form-item>
      <fd-form-label forValue="date">date </fd-form-label>

      <fd-date-picker
        name="date"
        id="date"
        [type]="'single'"
        [compact]="'true'"
        [(ngModel)]="initialCalendarDate"
        (selectedDayChange)="changeReceiptDate($event)"
      ></fd-date-picker>
    </div>

    <div fd-form-item>
      <button fd-button fdType="main" (click)="createReceipt()">Create</button>
    </div>
  </div>
</form>

<button fd-button fdType="main" (click)="addExpense()">Add expense</button>
<app-expense-list [expenses]="newReceipt.expenses"></app-expense-list>
